[submodule "components/external/CodeSniffer/Standards/GigaOM"]
	path = components/external/CodeSniffer/Standards/GigaOM
	url = git@github.com:GigaOM/gigaom-codesniffer.git
[submodule "components/external/CodeSniffer/Standards/WordPress"]
	path = components/external/CodeSniffer/Standards/WordPress
	url = git@github.com:mrchrisadams/WordPress-Coding-Standards.git
