[submodule "components/external/CodeSniffer/Standards/Gigaom"]
	path = components/external/CodeSniffer/Standards/Gigaom
	url = git@github.com:Gigaom/gigaom-codesniffer.git
[submodule "components/external/CodeSniffer/Standards/WordPress"]
	path = components/external/CodeSniffer/Standards/WordPress
	url = git@github.com:mrchrisadams/WordPress-Coding-Standards.git
